{% extends 'base.html' %}
{% block title %}Set New Password{% endblock %}
{% block body %}
<section class="main-container col1-layout">
    <div class="main container">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class="account-login">
        <div class="page-title">
          <h2>Set New Password</h2>
        </div>
        <fieldset>
          <div class="registered-users">
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum.</p>
              <form method='POST'>
                {% csrf_token %}
              <ul class="form-list">
                
                <li>
                  <label for="pass">Password <span class="required">*</span></label>
                  <input type="password" title="Password" id="pass" class="input-text required-entry validate-password" name="password">
                </li>
                <li>
                  <label for="pass">Retype Password <span class="required">*</span></label>
                  <input type="password" title="Password" id="pass1" class="input-text required-entry validate-password" name="password1">
                </li>
              </ul>
              
              <div class="buttons-set">
                <button id="send2" name="send" type="submit" class="button login"><span>Reset my Password</span></button>
              </div>
            </form>
            </div>
          </div>
        </fieldset>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
</section>
{% endblock %}